.body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 20px;
}
@media(max-width: 750px){
    .body{
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 5px;
    }
}